* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Welcome Page */

#welcome-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-page video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.welcome-button {
  /* border: 2px solid gray; */
  background-color: rgb(220, 220, 220, 0.2);
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.welcome-button:hover {
  /* background-color:  rgb(220,220,220, 1); */
  background-color: black;
  color: white;
}

.company-name {
  color: white;
  font-size: 150px;
  text-align: center;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* ###################################################### */


/* Home Page */
.home-page {
  height: 100vh;
  background-color: red;
}

.home-page-top {
  background-image: url("../sleek-pic.jpg");
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-page-title {
  color: white;
  text-align: center;
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Yanone Kaffeesatz', sans-serif; */
}

.home-page-title h1{
  font-size: 100px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 0;
  margin-bottom: 0;
}

.home-page-title h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 27px; 
}

.heart-vegtable img {
  height: 100px;
  height: 100px;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart-vegtable {
  margin-top: 3%;
  text-align: center;
  animation-name: pulse_animation;
  animation-duration: 2000ms;
  transform-origin: 50% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#bootstrap-overrides {
  background-color: black;
}

.home-page-middle {
  margin-top: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  align-content: space-between;
}

#filters {
  margin-left: 20px;
  width: 20%;
  border-right: 1px solid black;
}

#recipes-container {
  width: 70%;
  /* margin: 0 auto; */
  text-align: center;
  padding: 4px;
  margin-left: 10px;
}

#saved-recipes-container{
  width: 70%;
  text-align: center;
  padding: 4px;
  margin-left: 10px;
}

#all-filter-div {
  max-height: 400px;
  overflow-y: scroll;
}

/* Displaying the Recipe Detail */

.modal-content {
  background-color: lightgray;
  padding: 5px;
}

.modal-footer {
  justify-content: space-between;
}

.image-container {
  text-align: center;
}

.modal-body img {
  border-radius: 2rem;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  /* width: 100%; */
}



.health-span {
  margin: 2px;
}

.diet-span {
  margin: 2px;
}

.health-labels {
  display: flexbox;
  flex-wrap: wrap;
}

.health-span {
  display: inline-block;
}

.ingredients-list {
  margin: 10px;
}

.card .favorite {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  color: var(--theme-primary);
  margin: 0.5rem;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  padding: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  border-style: none;
}

.card:hover .favorite {
  opacity: 0.7;
}

.card .favorite:hover {
  opacity: 1;
}

/* *************************   LOADING *****************************/
.loader {
  position: absolute;
  z-index: 10;
  top: 60%;
  margin-left: 50%;
  width: 80px;
  display: none;
  /* margin: 100px auto; */
}

.duo {
  height: 20px;
  width: 50px;
  background: hsla(0, 0%, 0%, 0);
  position: absolute;
}

.duo,
.dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #333;
  position: absolute;
}

.dot-a {
  left: 0px;
}

.dot-b {
  right: 0px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes onOff {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}
