* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Welcome Page */

#welcome-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-page video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.welcome-button {
    /* border: 2px solid gray; */
    background-color: rgb(220,220,220, 0.2);
    color: white;
    font-size: 40px;
    text-align: center;
}

.welcome-button:hover {
    /* background-color:  rgb(220,220,220, 1); */
    background-color: black;
    color: white;
}

.company-name {
    color: white;
    font-size: 60px;
    text-align: center;
}

/* ###################################################### */

/* Home Page */
.home-page {
    height: 100vh;
    background-color: red;
}

.home-page-top {
    background-image: url('../sleek-pic.jpg');
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.home-page-title {
    color: white;
    text-align: center;
}



.heart-vegtable img{
    height: 100px;
    height: 100px;
}


@keyframes pulse_animation {
    0% { transform: scale(1); }
    20% { transform: scale(1.1); }
    30% { transform: scale(1.2); }
    40% { transform: scale(1.3); }
    50% { transform: scale(1.4); }
    60% { transform: scale(1.3); }
    70% { transform: scale(1.2); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.heart-vegtable {
    margin-top: 7%;
    text-align: center;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:50% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.home-page-middle {
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    align-content: space-between;
}



#filters {
    margin-left: 20px;
    width: 20%;
}

#recipes-container {
    width: 70%;
    /* margin: 0 auto; */
    text-align: center;
    padding: 4px;
}

#all-filter-div {
    max-height: 400px;
    overflow-y: scroll;
}

/* Displaying the Recipe Detail */

.modal-content {
    background-color: lightgray;
    padding: 5px;
}

.modal-footer {
    justify-content: space-between;
}

.image-container {
    text-align: center;
}

.modal-body img {
    border-radius: 2rem;
    text-align: center;
    /* width: 100%; */
}

.health-span {
    margin: 2px;
}

.diet-span {
    margin: 2px;
}


.health-labels {
    display: flexbox;
    flex-wrap: wrap;
}

.health-span {
    display: inline-block;
}


.ingredients-list {
    margin: 10px;
}